
body {
    font-family: 'Exo', sans-serif;
    background-image: url("../interface_pics/bumblebee_ver6_xlg.jpg");
    min-width: 1200px;
    background-position: center;
    background-attachment: fixed;

}


.main-nav .main-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: 20px;
}

.main-nav {
    width: 1200px;
    height: 70px;
    display: flex;
    margin: 0 auto;
    background-color: #b22d36;
}

.main-nav-list .main-nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    border-left: 1px solid #ffffff;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.main-nav-list .main-nav-item {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 35px;
}



.main-nav-list .main-nav-item a:hover {
    color: #ffffff;
    border-color: white;
}



.main-nav .main-nav-item-logo {
    border: none;
    margin: 0;
    width: 140px;
    height: 60px;

}

.main-nav-item-logo .logo-pic {
    width: 150px;
    height: 50px;
}

.login-button {
    width: 100px;
    height: 50px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.user-sector {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-log-icon {
    width: 30px;
    height: 30px;
}

.logo-pic {
    width: 100px;
    height: 50px;
}


.news-section {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    justify-content: space-around;
    margin-top: 25px;
    flex-direction: column;
    box-shadow: 0px 5px 10px 3px black;
    height: 650px;
}

.articles-container {
    display: flex;
    justify-content: space-around;
}

.news-title {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 72px;
    border-bottom: 2px solid #b22d36;
    margin-right: 72px;
}

.article {
    height: 500px;
    width: 250px;
    border-bottom: 2px solid #b22d36;
}

.promo-pic {
    width: 250px;
    height: 250px;
}

.news-article-url {
    text-decoration: none;
    color: black;
}

.contents-section {
    display: flex;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    height: 600px;
    margin-top: 15px;
    box-shadow: 0px 5px 10px 3px black;
    flex-direction: column;
    height: 850px;
    margin-bottom: 15px;
}

.contents-container {
    display: flex;
    flex-direction: row;
    width: 1060px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 30px;
}

.contents-title {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 72px;
    border-bottom: 2px solid #b22d36;
    margin-right: 72px;
    margin-top: 50px;
}

.movie-url, .movie-poster {
    width: 100px;
    height: 150px;
    display: flex;
}

.movie-url {
    margin-right: 20px;
    margin-top: 15px;
    box-shadow: 3px 5px 5px 3px black;
}

.content-sub-title {
    text-decoration: none;
    color: black;
    font-size: 20px;
    align-self: center;
    margin-top: 23px;
    border: 2px solid #b22d36;
    padding: 10px;
    background-color: #b22d36;
    color: white;
    display: flex;
    justify-content: center;
    width: 1060px;
}

.content-sub-title:hover {
    background-color: transparent;
    color: #b22d36;
}

.series-section {
    display: flex;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    height: 600px;
    margin-top: 15px;
    box-shadow: 0px 5px 10px 3px black;
    flex-direction: column;
    height: 850px;
    margin-bottom: 15px;
}

.series-title {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 72px;
    border-bottom: 2px solid #b22d36;
    margin-right: 72px;
    margin-top: 50px;
}

.series-url {
    margin-right: 20px;
    margin-top: 15px;
    box-shadow: 3px 5px 5px 3px black;
}

.series-url, .series-poster {
    width: 100px;
    height: 150px;
    display: flex;
}

.series-content {
    display: flex;
    flex-direction: row;
    width: 1060px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 30px;
}

.series-url:nth-child(9n) {
    margin-right: 0;
}

.movie-url:nth-child(9n) {
    margin-right: 0;
}

/**
Pop-up Section >>>
 */

.pop-up {
    display: flex;
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: white;
    left: 40%;
    top: 20%;
    box-shadow: 2px 1px 11px 1px black;
}

.pop-up-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 320px;
}

.pop-up-title {
    color: #b22d36;
    font-size: 24px;
    align-self: center;
}

.pop-up-form {
    display: flex;
    flex-direction: column;
    color: #b22d36;
    font-weight: bold;
    border-left: 2px dashed #b22d36;
    border-right: 2px dashed #b22d36;
}

.field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

}

.pop-up-login, .pop-up-password {
    width: 200px;
    height: 30px;
    border: 1px solid #b22d36;
}

.pop-up-label {
    margin-bottom: 10px;
}

.pop-up-submit {
    width: 200px;
    height: 40px;
    background-color: #b22d36;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.pop-up-submit:hover {
    background-color: white;
    color: #b22d36;
    border-color: #b22d36;
}

.forgot-pass {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid #b22d36;
    width: 176px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #b22d36;
}

.forgot-pass:hover {
    background-color: white;
    border-color: #b22d36;
    color: #b22d36;
}

.pop-up-cross {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    left: 343px;
    top: -20px;
}

.pop-up-cross::before {
    content: " ";
    border: 2px solid #b22d36;
    transform: rotate(45deg);
    position: fixed;
    width: 32px;
}

.pop-up-cross::after {
    content: " ";
    border: 2px solid #b22d36;
    transform: rotate(-45deg);
    position: fixed;
    width: 32px;
}

/** pop-up switcher **/
.pop-up {
    display: none;
}

/**
Pop-up Section <<<
 */

footer {
    background-color: #b22d36;
    display: flex;
    height: 85px;
}

.footer-content {
    display: flex;
    height: 85px;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}

header {
    background-color: #b22d36;
}

/** Movie section styles **/

.movie-section {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    background-color: white;

}

.movie-wrapper {
    display: flex;
    flex-direction: column;
}

.movie-page {
    display: flex;
}

.movie-page-poster {
    width: 380px;
    height: 550px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 3px 5px 5px 3px black;
}

.movie-title {
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.movie-top-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.middle-part {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 760px;
}

.movie-descr {
    margin: 0;
    margin-top: 20px;
}

.description-sector {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-bottom: 2px solid #b22d36;
}

.description-sector-header {
    margin: 0;
}

.description-text {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.screens-sector {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid #b22d36;

}

.movie-screen {
    width: 150px;
    height: 160px;
    margin-bottom: 50px;
}

.player-sector {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #b22d36;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.movie-player {

}

.download-movie {
    width: 100px;
    height: 20px;
    background-color: #b22d36;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-self: end;
    margin-bottom: 30px;
}


.user-comment {
    display: flex;
    margin: 0;
    width: 1160px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-bottom: 2px solid #b22d36;
    min-height: 100px;
    justify-content: space-between;

}

.user-avatar-pic {
    width: 80px;
    height: 80px;
}

.rating-sector {
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    border: 2px dashed #b22d36;
    width: 380px;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

.user-score {
    width: 135px;
    height: 25px;
    background-color: #b22d36;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.movie-data {
    font-weight: bold;
}

.user-comment-text {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

}


/**----------------------**/