
body {
    font-family: 'Exo', sans-serif;
    background-image: url("../interface_pics/bumblebee_ver6_xlg.jpg");
    min-width: 1200px;

}


.main-nav .main-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: 20px;
}

.main-nav {
    width: 1200px;
    height: 70px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: #e52b4f;
}

.main-nav-list .main-nav-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
}
.main-nav-list .main-nav-item {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.main-nav-list .main-nav-item a:hover {
    color: #ffffff;
}

.main-nav-list .main-nav-item:hover {
    border-color: white;
}

.main-nav .main-nav-item-logo {
    border: none;
    margin: 0;
    width: 140px;
    height: 60px;
}

.main-nav-item-logo .logo-pic {
    width: 140px;
    height: 60px;
}

.login-button {
    width: 100px;
    height: 50px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.user-sector {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-log-icon {
    width: 30px;
    height: 30px;
}

.logo-pic {
    width: 100px;
    height: 50px;
}


.news-section {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    justify-content: space-around;
    margin-top: 25px;
    flex-direction: column;
}

.articles-container {
    display: flex;
    justify-content: space-around;
}

.news-title {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 72px;
    border-bottom: 2px solid #e52b4f;
    margin-right: 72px;
}

.article {
    height: 500px;
    width: 250px;
    margin-top: 50px;
}

.promo-pic {
    width: 250px;
    height: 250px;
}

.news-article-url {
    text-decoration: none;
    color: black;
}

.contents-section {
    display: flex;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    height: 600px;
}

header {
    background-color: #e52b4f;
}