
body {
    font-family: 'Exo', sans-serif;
    background-image: url("../interface_pics/bumblebee_ver6_xlg.jpg");
    min-width: 1200px;
    background-position: center;
    background-attachment: fixed;

}


.main-nav .main-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: 20px;
}

.main-nav {
    width: 1200px;
    height: 70px;
    display: flex;
    margin: 0 auto;
    background-color: #b22d36;
}

.main-nav-list .main-nav-item a {
    text-decoration: none;
    color: #fdc9d1;
    font-weight: bold;
    font-size: 24px;
    border-left: 1px solid #fdc9d1;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-nav-list .main-nav-item {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}



.main-nav-list .main-nav-item a:hover {
    color: #ffffff;
    border-color: white;
}



.main-nav .main-nav-item-logo {
    border: none;
    margin: 0;
    width: 140px;
    height: 60px;
}

.main-nav-item-logo .logo-pic {
    width: 140px;
    height: 45px;
}

.login-button {
    width: 100px;
    height: 50px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.user-sector {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-log-icon {
    width: 30px;
    height: 30px;
}

.logo-pic {
    width: 100px;
    height: 50px;
}


.news-section {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    justify-content: space-around;
    margin-top: 25px;
    flex-direction: column;
    box-shadow: 0px 5px 10px 3px black;
    height: 650px;
}

.articles-container {
    display: flex;
    justify-content: space-around;
}

.news-title {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 72px;
    border-bottom: 2px solid #b22d36;
    margin-right: 72px;
}

.article {
    height: 500px;
    width: 250px;
    border-bottom: 2px solid #b22d36;
}

.promo-pic {
    width: 250px;
    height: 250px;
}

.news-article-url {
    text-decoration: none;
    color: black;
}

.contents-section {
    display: flex;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    height: 600px;
    margin-top: 15px;
    box-shadow: 0px 5px 10px 3px black;
    flex-direction: column;
    height: 850px;
    margin-bottom: 15px;
}

.contents-container {
    display: flex;
    flex-direction: row;
    width: 1060px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 30px;
}

.contents-title {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 72px;
    border-bottom: 2px solid #b22d36;
    margin-right: 72px;
    margin-top: 50px;
}

.movie-url, .movie-poster {
    width: 100px;
    height: 150px;
    display: flex;
}

.movie-url {
    margin-right: 20px;
    margin-top: 15px;
    box-shadow: 3px 5px 5px 3px black;
}

.series-section {
    display: flex;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    height: 600px;
    margin-top: 15px;
    box-shadow: 0px 5px 10px 3px black;
    flex-direction: column;
    height: 850px;
    margin-bottom: 15px;
}

.series-title {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 72px;
    border-bottom: 2px solid #b22d36;
    margin-right: 72px;
    margin-top: 50px;
}

.movie-url:nth-child(9n) {
    margin-right: 0;
}



footer {
    background-color: #b22d36;
    display: flex;
    height: 85px;
}

.footer-content {
    display: flex;
    height: 85px;
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #b22d36;
}